# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
.vs_code/
*.iml

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json
crash.log

# Secrets (generic safety net)
*.key
*.pem
*.crt
*.pfx
*.secret
*.env.*
